<% if @muppet.errors.any? %>
<b>Errors</b>
<ul>
	<% @muppet.errors.full_messages.each do |error| %>
	<li><%= error %></li>
	<% end %>
</ul>
<% end %>

<%= form_for @muppet do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %><br><br>

	<%= f.label :image_url %>
	<%= f.text_field :image_url %><br><br>

	<%= f.submit %>
<% end %>