<p><%= link_to "Muppets", muppets_path %> / <%= @muppet.name %>
<h1><% @muppet.name %></h1>
<img src="<%= @muppet.image_url %>">

<p><%= link_to 'Edit', edit_muppet_path %></p><br><br>
<%= form_for @muppet, :method => :delete do |f| %>
<%= f.submit 'Destroy' %>
<% end %>
