<h1><%= @result['Title'] %></h1>

<%= image_tag @result['Poster'] %>

<% if @favorite.new_record? %> 

	<%= form_for @favorite do |f| %>
		<%= f.hidden_field :movie_id %>
		<%= f.hidden_field :title %>
		<%= f.submit 'Add to Favorites' %>
	<% end %>

	<% else %>
		<%= form_for @favorite, :method => :delete do |f| %>
    	<%= f.submit 'Unfavorite :(' %>
  	<% end %>
<% end %>
