<p>
	<%= link_to "Home", movies_path %> /
	<%= link_to @movie.title, @movie %> /
	<%= @trailer.title %>
</p>

<h1> <%= @trailer.title%> </h1>

<iframe id="ytplayer" type="text/html" width="640" height="390"  src="<%= @trailer.embed_url %>" frameborder="0"/>
<%= link_to "Edit", edit_movie_trailers_path(@movie, @trailer) %>