<%= form_for [@movie, @trailer] do |f| %>
	<p> <%= f.label :title %> <%= f.text_field :title %></p>
	<p> <%= f.label :embed_url %> <%= f.text_area :embed_url %> </p>
	<button><%= f.submit %></button> <button><%= link_to "Cancel", @movie %></button>
<% end %>