<div class="errors">
	<% if @movie.errors.any? %>
		<b>There were some problems submitting your form:</p>
		<ul>
			<% @movie.errors.full_messages.each do |error| %>
			<li><%= error %></li>
			<% end %>
		</ul>
	<% end %>
</div>

<%= form_for @movie do |f| %>
	
	<div class="group form_section">
		<%= f.label :title, class: "label" %>
		<%= f.text_field :title, class: "group input" %>
	</div>

	<div class="group form_section">
		<%= f.label :year, class: "label" %>
		<%= f.text_field :year, class: "group input" %>
	</div>

	<div class="group form_section">
		<%= f.label :poster_url, class: "label" %>
		<%= f.text_field :poster_url, class: "group input" %>
	</div>

	<%= f.submit class: "group submit", :class => "update_button"%>

<% end %>