<p>
	<%= link_to "Home", movies_path %> / 
	<%= @movie.title %>
</p>

<div class="movie_container">
	<h1 class="main_title"><%= @movie.title %></h1>

	<div class="movie">
		<img src="<%= @movie.poster_url %>">
	</div>

	<p class="movie_desc">This movie was released in <%= @movie.year %>.</p>

	<p class="movie_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<p class="movie_desc">
		<%= link_to "Edit movie info", edit_movie_path(@movie) %>
		<%= form_for @movie, :method => :delete do |m| %>
			<%= m.submit "Delete", :class => "delete_button" %>
		<% end %>
	</p>

	<!-- show the movie's trailers here -->

	<h1 class="group main_title">Trailers</h1>

	<div class="group">
		<% @trailers.each do |trailer| %>
			<h2 class="sub_title">
				<%= link_to trailer.title, movie_trailer_path(@movie, trailer) %>
			</h2>
			<div class="trailer">
				<iframe src="http://www.youtube.com/embed/<%= trailer.embed_url %>" 
					width="640" height="390"></iframe>
			</div>
			<div class="trailer_delete">
				<%= form_for [@movie, trailer], :method => :delete do |m| %>
					<%= m.submit "Delete", :class => "delete_button" %>
				<% end %>
			</div>
		<% end %>
	</div>

	<h2 class="sub_title">
		<%= link_to "Add new trailer", new_movie_trailer_path(@movie) %>
	</h2>
</div>