<div class="errors">
	<% if @trailer.errors.any? %>
		<b>There were some problems submitting your form:</b>
		<ul>
			<% @trailer.errors.full_messages.each do |error| %>
			<li><%= error %></li>
			<% end %>
		</ul>
	<% end %>
</div>

<%= form_for [@movie, @trailer] do |f| %>
	
	<div class="group form_section">
		<%= f.label :title, class: "label" %>
		<%= f.text_field :title, class: "group input" %>
	</div>

	<div class="group form_section">
		<%= f.label :embed_url, class: "label" %>
		<%= f.text_field :embed_url, class: "group input" %>
	</div>

	<%= f.submit class: "group submit", :class => "update_button"%>

<% end %>