<p><%= link_to "Cats", cats_path %> / <%= @cat.name %></p>

<h1><%= @cat.name %></h1>

<img src="<%= @cat.image_url %>">

<p><%= link_to 'Edit', edit_cat_path(@cat) %></p>
<p><%= link_to 'Destroy', cat_path(@cat), :method => :delete, :'data-confirm' => 'Are you sure?' %></p>

<%= form_for @cat, :method => :delete do |f| %>
  <%= f.submit 'Destroy' %>
<% end %>