<p>
	<%= link_to("muppets", muppets_path) %> / <%= @muppet.name %>
</p>
<h1><%= @muppet.name %></h1>
<img src="<%= @muppet.image_url %>">

<p><%= link_to 'Edit', edit_muppet_path(@muppet) %></p>

<%= form_for @muppet, :method => :delete do |f| %>
  <%= f.submit 'Destroy' %>
  <% end %>