<p>
  <%= link_to "Authors", authors_path %> / 
  <%= link_to @author.full_name, @author %> / 
  <%= @book.title %>
</p>

<h1><%= @book.title %></h1>
<p>By <%= link_to @author.full_name, @author %></p>

<p><%= @book.synopsis %></p>

<%= link_to "Edit", edit_author_book_path(@author, @book) %>