<!DOCTYPE html>
<html>
<head>
  <title>MovietrailerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:100,300,400" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<!-- header -->
<header class="group container">
	
	<h1>
		<%= link_to "movietrail.er", movies_path, :class => "logo" %>
	</h1>

	<nav class="nav">
		<ul>
			<li><%= link_to "Add Movie", new_movie_path %></li>
			<li><%= link_to "View Trailers", trailers_path %></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>

	<div class="search"><%= render "movies/search" %></div>

</header>


<!-- display page information -->
<section class="row">
	<div class="group">
		<section class="container">

			<!-- display flash notices if there are any -->
			<% if flash[:notice] %>
				<div class="flash_notice"><%= flash[:notice] %></div>
			<% elsif flash[:alert] %>
				<div class="flash_alert"><%= flash[:alert] %></div>
			<% end %>
			
			<%= yield %>

		</section>
	</div>
</section>


<!-- footer -->
<footer class="group container">

	<h1 class="logo">
		<%= link_to "movietrail.er", movies_path %>
	</h1>

	<nav class="nav">
		<ul>
			<li><%= link_to "Add New Movie", new_movie_path %></li>
			<li><%= link_to "View All Trailers", trailers_path %></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>

</footer>

</body>
</html>
