<h1>View details of link here</h1>

<p><a href="<%= @link.link_url %>" target="_blank">
	<%= @link.link_url %>
</a></p>

<p><%= @link.description %></p>

<p>Submitted by: <%= @link.author %> on <%= @link.created_at %></p>
